* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #ecf2f8;
}

a {
  color: #22577a;
  text-decoration: none;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 0;
}

blockquote {
  color: #cfcfcf;
}

/* Utility Classes */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Estilos del navbar */

.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-toggler {
  border: none;
  padding: 0;
  width: 1.875rem;
  height: 1.875rem;
  background-color: transparent;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #22577a;
}

.navbar-nav .nav-link.active {
  color: #22577a;
}

.navbar-nav .nav-link:hover {
  color: #7b2358;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.main-page {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Estilos banner*/

.txt-banner {
  position: absolute;
  right: 20rem;
  top: 1rem;
}

/* Estilos de las secciones */

section {
  margin: 3rem 0;
  text-align: left;
}

section h2 {
  font-size: 2rem;
}

section p {
  font-size: 1rem;
  font-weight: 400;
}

/* Estilos del footer */

footer {
  background-color: #22577a;
  text-align: center;
}

.footer-text {
  font-size: 0.875rem;
  font-weight: 400;
}

section .fas {
  font-size: 3rem;
  color: #7b2358;
}

footer .fab {
  font-size: 2rem;
  color: white;
}

.img-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

details {
  background: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

summary {
  list-style: none;
  font-weight: 500;
}

summary::before {
  content: "+";
  padding-right: 1rem;
}

details[open] summary::before {
  content: "-";
}

.highlight-1 {
  background-color: #fff;
  padding: 20px;
  border-left: 3px solid #22577a;
  margin: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.highlight-2 {
  background-color: #fff;
  padding: 20px;
  border-right: 3px solid #22577a;
  margin: 20px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card .avatar {
  width: 110px;
  margin-top: -60px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 50%;
}

.card {
  border: 1px solid #22577a;
}

.card img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.cta {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;

  color: #7b2358;
  border: 2px solid #7b2358;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
  text-decoration: none;
}

.cta:hover {
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .navbar-brand {
    font-size: 1.25rem;
  }

  .navbar-nav .nav-link {
    font-size: 0.875rem;
  }

  section h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  section p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }

  .copyright {
    font-size: 0.75rem;
  }

  .txt-banner {
    left: 13rem;
    right: auto;
  }
  .cta {
    font-size: 14px;
    padding: 8px 16px;
  }
  .contact {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    justify-content: center;
  }
}
